.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.preview-wrapper iframe {
  width: 100%;
  height: 100%;
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: 'abc';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.preview-error {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}